In [1]:
import sys
import os
sys.path.append("..")
import shap
import xgboost
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import numpy as np
import colorsys
from sklearn.decomposition import PCA
from sklearn.metrics.pairwise import manhattan_distances
from sklearn.model_selection import train_test_split
from sklearn.manifold import TSNE
from sklearn import preprocessing
from Framework.models import ShapleyModel
from Framework import cluster
from sklearn.cluster import KMeans
from Framework import datasets
from Framework import processing

In [2]:
notebook_mode = 'Original-PCA'
explainer_type = 'Linear'
model_type = 'XGBoost'
nClusters = 3
dataset_count = 0

In [3]:
X,y,name = datasets.returnDataset(dataset_count)

#X_train_pca,explained_var = processing.dimensional_reduce(PCA(n_components = 3),X_train)
#X_test_pca,_ = processing.dimensional_reduce(PCA(n_components = 3),X_test)

blackbox_model = ShapleyModel(explainer_type,model_type,nClusters,notebook_mode)

X_train_pca,X_train_tr_pca,X_train_val_pca,X_test_pca,y_train_pca,y_train_tr_pca,y_train_val_pca,y_test_pca = processing.prepare_pipeline_reduced_data(X,y,PCA(3))
X_train,X_train_tr,X_train_val,X_test,y_train,y_train_tr,y_train_val,y_test,_ = processing.prepare_pipeline_data(X,y)

scaler_y = preprocessing.StandardScaler().fit(y_train.reshape(-1,1))

y_train = scaler_y.transform(y_train.reshape(-1,1)).reshape(-1,)
y_test = scaler_y.transform(y_test.reshape(-1,1)).reshape(-1,)

shap_values = blackbox_model.explainShapley(X_train,y_train,X_train_tr,y_train_tr,X_train_val,y_train_val)
shap_dataframe = pd.DataFrame(data = shap_values,columns = X_train.columns)

#shap_dataframe_pca,explained_var_shap = processing.dimensional_reduce(PCA(n_components = 2),shap_dataframe)
#shap_dataframe_tsne,explained_var_tsne = processing.dimensional_reduce(TSNE(n_components=2),shap_dataframe)
shap_dataframe_pca = shap_dataframe

X_instanced = pd.concat((X_train,pd.DataFrame(columns = ['instance'])),axis = 1)
X_instanced['instance'].iloc[X_train_tr.index] = 'train'
X_instanced['instance'].iloc[X_train_val.index] = 'val'
y_instanced = pd.concat((pd.DataFrame(y_train,columns=['label']),pd.DataFrame(columns = ['instance'])),axis = 1)
y_instanced['instance'].iloc[X_train_tr.index] = 'train'
y_instanced['instance'].iloc[X_train_val.index] = 'val'

X_instanced_pca = pd.concat((X_train_pca,pd.DataFrame(columns = ['instance'])),axis = 1)
X_instanced_pca['instance'].iloc[X_train_tr.index] = 'train'
X_instanced_pca['instance'].iloc[X_train_val.index] = 'val'
y_instanced_pca = pd.concat((pd.DataFrame(y_train_pca,columns=['label']),pd.DataFrame(columns = ['instance'])),axis = 1)
y_instanced_pca['instance'].iloc[X_train_tr.index] = 'train'
y_instanced_pca['instance'].iloc[X_train_val.index] = 'val'



#Gather shapley values and output values in one dataframe

shap_instanced = pd.concat((pd.DataFrame(shap_dataframe_pca),pd.DataFrame(columns = ['instance'])),axis = 1)
shap_instanced['instance'].loc[X_train_tr.index] = 'train'
shap_instanced['instance'].loc[X_train_val.index] = 'val'


#Split the clusters into a dictionary
data_dict,data_dict_original,kmeans_shapley,kmeans_original = blackbox_model.clusterData(X_train_pca,shap_dataframe_pca)

y_train_df = pd.DataFrame(y_train)
_,_,original_split_shapley,y_shap = blackbox_model.prepareTrainData(data_dict,data_dict_original,X_instanced,y_instanced,shap_instanced,False)
original_split,y_org,_,_= blackbox_model.prepareTrainData(data_dict,data_dict_original,X_instanced_pca,y_instanced_pca,shap_instanced,False)

C:\Users\koral\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
C:\Users\koral\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\koral\Anaconda3\lib\site-packages\shap\explainers\linear.py:49: UserWarning: The default value for feature_dependence has been changed to "independent"!
  warnings.warn('The default value for feature_dependence has been changed to "independent"!')
C:\Users\koral\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [4]:
y_train[:5]

array([-0.15897541, -0.79005658, -0.69901117, -0.54070595, -0.29704463])

In [5]:
original_split.head()

          0         1         2 instance  cluster
0 -0.102221  0.575140  1.059818    train        0
1 -0.290859 -0.455040  0.418849      val        0
2 -0.415512 -0.851423 -0.134437      val        0
3 -0.051751  1.030922 -0.054513    train        1
4  0.420057  0.375518  1.238490      val        0

In [6]:
org_shapley_reduced,_ = processing.reduce_after_clusters(PCA(3),original_split_shapley)
org_shapley_reduced.head()

          0         1         2 instance  cluster
0  4.418789 -2.026977 -2.753896    train        1
1  0.622416 -0.191575  1.369562      val        0
2 -3.849264 -4.738384 -2.093667      val        0
3  4.750828  1.229890  1.140369    train        1
4  3.869628  1.020279 -0.935187      val        1

In [7]:
y_org.head()

      label instance  cluster
0 -0.158975    train        0
1 -0.790057      val        0
2 -0.699011      val        0
3 -0.540706    train        1
4 -0.297045      val        0

In [8]:
y_shap.head()

      label instance  cluster
0 -0.158975    train        1
1 -0.790057      val        0
2 -0.699011      val        0
3 -0.540706    train        1
4 -0.297045      val        1

In [9]:
model_dict,eval_results = blackbox_model.trainPredictor(original_split,y_org)
model_dict_shapley,eval_results_shapley = blackbox_model.trainPredictor(org_shapley_reduced,y_shap)

[0]	train-rmse:1.11107	val-rmse:1.09855
Multiple eval metrics have been passed: 'val-rmse' will be used for early stopping.

Will train until val-rmse hasn't improved in 100 rounds.

C:\Users\koral\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\koral\Anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

Stopping. Best iteration:
[786]	train-rmse:0.775029	val-rmse:0.835058

[0]	train-rmse:1.13438	val-rmse:1.11656
Multiple eval metrics have been passed: 'val-rmse' will be used for early stopping.

Will train until val-rmse hasn't improved in 100 rounds.
Stopping. Best iteration:
[236]	train-rmse:0.559768	val-rmse:0.644054

[0]	train-rmse:2.53106
Will train until train-rmse hasn't improved in 100 rounds.
Stopping. Best iteration:
[4578]	train-rmse:2.4e-05

[0]	train-rmse:1.12084	val-rmse:1.09299
Multiple eval metrics have been passed: 'val-rmse' will be used for early stopping.

Will train until val-rmse hasn't improved in 100 rounds.
Stopping. Best iteration:
[764]	train-rmse:0.644604	val-rmse:0.651694

[0]	train-rmse:1.1022	val-rmse:1.12024
Multiple eval metrics have been passed: 'val-rmse' will be used for early stopping.

Will train until val-rmse hasn't improved in 100 rounds.
Stopping. Best iteration:
[359]	train-rmse:0.394225	val-rmse:0.505051

[0]	train-rmse:1.11385	val-rmse:1.09181
Multiple eval metrics have been passed: 'val-rmse' will be used for early stopping.

Will train until val-rmse hasn't improved in 100 rounds.
Stopping. Best iteration:
[216]	train-rmse:0.342864	val-rmse:0.631186

In [10]:
shapley_test = blackbox_model.predictShapleyValues(X_test)
#shap_test_pca,_ = processing.dimensional_reduce(PCA(n_components = 2),shapley_test)
shapley_test_df = pd.DataFrame(shapley_test,columns = X_train.columns)
data_dict_shapley_test= blackbox_model.clusterDataTest(shap_dataframe_pca,kmeans_shapley.labels_,shapley_test_df)
data_dict_original_test= blackbox_model.clusterDataTest(X_train_pca,kmeans_original.labels_,X_test_pca)

In [11]:
data_dict_shapley_test.head()

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,cluster
0,-0.089343,-0.129995,-0.013476,-0.013285,0.014808,-0.003178,-0.003547,-0.089166,-0.007299,-0.020355,...,-0.050619,-0.023347,-0.001615,0.002480,0.001399,0.001575,0.003904,0.001902,-0.010376,0
1,0.297593,0.059639,0.132679,0.026570,0.004237,-0.006018,0.088199,-0.237482,-0.066975,-0.017508,...,-0.024038,-0.011107,0.002368,0.002033,0.000138,0.000196,-0.059389,-0.006425,0.070833,0
2,-0.076778,0.043291,-0.013355,-0.019620,0.014808,-0.006349,-0.085634,0.085369,0.031812,-0.078006,...,-0.001725,-0.013993,-0.006478,0.010769,0.001351,0.001509,-0.002380,0.001347,-0.010376,1
3,0.057274,0.036752,0.096928,0.006181,0.015935,-0.008410,0.047865,-0.028509,-0.017165,-0.034827,...,-0.128036,-0.016680,0.000176,0.008183,0.000786,0.000580,-0.011547,0.001665,0.053179,0
4,-0.050289,0.056369,-0.089946,-0.014976,-0.033816,-0.005912,-0.036211,-0.080557,-0.000404,0.083559,...,0.056871,0.009798,0.007217,-0.016684,-0.000853,0.001442,-0.019899,-0.002698,-0.010376,0

In [12]:
y_test_df = pd.DataFrame(y_test_pca)
original_split_test,y_test_org,_,_ = blackbox_model.prepareTrainData(data_dict_shapley_test,data_dict_original_test,X_test_pca,y_test_df,shapley_test_df,True)
_,_,original_split_shapley_test,y_test_shap = blackbox_model.prepareTrainData(data_dict_shapley_test,data_dict_original_test,X_test,y_test_df,shapley_test_df,True)
original_split_shapley_test,_ = processing.reduce_after_clusters(PCA(3),original_split_shapley_test)

In [13]:
original_split_test.head()

          0         1         2  cluster
0 -0.487501 -0.936292  0.126870        0
1  0.782760 -0.636551 -0.080145        0
2 -0.381264  0.361538  1.079791        0
3  0.021341 -0.910722 -0.033645        0
4 -0.301732  0.027331  0.382873        0

In [14]:
original_split_shapley_test.head()

          0         1         2  cluster
0 -1.190429 -3.478702 -2.906043        0
1  2.700068 -5.626194  1.101941        0
2 -1.055310 -0.535763 -1.543564        1
3 -0.148352 -6.098832 -2.080484        0
4 -0.799575 -0.079312  2.567471        0

In [15]:
preds_org = blackbox_model.predict(original_split_test,model_dict)
tot_rmse_org = blackbox_model.evaluate(preds_org,y_test_org)

In [16]:
preds_shap = blackbox_model.predict(original_split_shapley_test,model_dict_shapley)
tot_rmse_shap = blackbox_model.evaluate(preds_shap,y_test_shap)

In [17]:
y_train_tr = pd.DataFrame(y_train_tr_pca,index = X_train_tr_pca.index)
y_train_val = pd.DataFrame(y_train_val_pca,index = X_train_val_pca.index)
X_train_tr_pca.sort_index(inplace = True)
y_train_tr.sort_index(inplace = True)
X_train_val_pca.sort_index(inplace = True)
y_train_val.sort_index(inplace = True)

exp_model = blackbox_model.trainExtraModel(X_train_tr_pca,y_train_tr.iloc[:,0],X_train_val_pca,y_train_val.iloc[:,0])
preds_big = blackbox_model.predict(X_test_pca,exp_model)
tot_rmse_big = blackbox_model.evaluate(preds_big,y_test_pca)

C:\Users\koral\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\koral\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [18]:
names = ['Whole model','Original_ensemble','Shapley_ensemble']
values = [tot_rmse_big,tot_rmse_org[0],tot_rmse_shap[0]]
f=open("../Data/test_pca.txt", "a+")
f.write(name + ',')
[f.write('{0:.3f},'.format(values[v])) for v in range(len(values))]
f.write('{0},'.format(nClusters))
f.write('{0},'.format(notebook_mode))
f.write('{0},'.format(explainer_type))
f.write('{0}'.format(model_type))
f.write('\n')
f.close()